{% extends 'diary/home.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">



        {% for diary in object_list %}
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"> {{ diary.create_date }} </h4>
                </div>
                <div class="card-body">
                    <p class="text-start">Заголовок: {{ diary.title }}</p>
                    <p class="text-start">Новая запись: {{ diary.body | slice:20 }}</p>
                    <p class="text-start">Автор записи: {{ diary.user.nickname }}</p>
                    <h1 class="card-title pricing-card-title"></h1>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'diary:diary_detail' diary.pk %}"
                           role="button">Подробно</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>
{% endblock %}