<div class="b-example-divider"></div>

<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            {% if user.is_authenticated %}
            <span class="fs-5">Добро пожаловать, {{ user.nickname}}!</span>
            {% endif %}
        </ul>
        <ul class="nav">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link link-body-emphasis px-2" href="{% url 'users:logout' %}">Выход</a>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link link-body-emphasis px-2" href="{% url 'users:login' %}">Вход</a>
            </li>
            <li class="nav-item"><a class="nav-link link-body-emphasis px-2" href="{% url 'users:register' %}">Регистрация</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>

            <span class="fs-4">SkyDiary - твой личный дневник</span>
        </a>

        <li><a href="{% url 'diary:diary_search' %}" class="text-black">Поиск</a></li>

    </div>
</header>
